[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NesterovVladislav
[access "refs/for/refs/*"]
	read = group user/NesterovVladislav
	push = group user/NesterovVladislav
	label-Code-Review = -2..+2 group user/NesterovVladislav
	label-Verified = -1..+1 group user/NesterovVladislav
	rebase = group user/NesterovVladislav
	removeReviewer = group user/NesterovVladislav
	submit = group user/NesterovVladislav
[access "refs/heads/*"]
	read = group user/NesterovVladislav
	create = group user/NesterovVladislav
	push = +force group user/NesterovVladislav
	pushMerge = group user/NesterovVladislav
[access "refs/tags/*"]
	push = +force group user/NesterovVladislav
	pushTag = group user/NesterovVladislav
	pushSignedTag = group user/NesterovVladislav
